#app { display: flex; flex-direction: column; min-height: 100vh; }
.main { flex: 1; padding: 24px; max-width: 1400px; margin: 0 auto; width: 100%; }

@media (max-width: 600px) {
  .main { padding: 14px; }
}
